@page "/R_Productos"
@* @page "/R_Productos/{ProductoId:int}" *@

<EditForm Model="producto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container-md">

        <div class="card ">

            <div class="card-header">
                <h3>Registro de Productos</h3>
            </div>

            <div class="card-body">

                @* Buscar *@
                <div class="form-group align-items-right">

                    <div class="form-row">

                        <label>Producto Id</label>

                        <div class="input-group">

                            <InputNumber @bind-Value="producto.ProductoId" class="form-control col-4 col" />

                            <div class="input-group-append col">
                                <button type="button" class="btn btn-success input-group-text "
                                    @onclick="Buscar"><span class="oi oi-magnifying-glass">Buscar</span></button>
                            </div>

                        </div>

                    </div>
                </div>

                <hr>

                <div class="row">

                    @* Descripcion *@
                    <div class="form-group col">
                        <label>Descripción</label>
                        <InputText class="form-control" @bind-Value="producto.Descripcion" placeholder="Descripción del producto"/>
                        <ValidationMessage For="@(() => producto.Descripcion)" />
                    </div>

                    @* Existencia *@
                    <div class="form-group col">
                        <label>Existencia</label>
                        <InputNumber class="form-control" @bind-Value="producto.Existencia" />
                        <ValidationMessage For="@(() => producto.Existencia)" />
                    </div>

                    @* Costo *@
                    <div class="form-group col">
                        <label>Costo</label>
                        <InputNumber class="form-control" @bind-Value="producto.Costo" />
                        <ValidationMessage For="@(() => producto.Costo)" />
                    </div>

                    @* Valor Inventario *@
                    <div class="form-group col">
                        <label>Valor Inventario</label>
                        <InputNumber readonly class="form-control" @bind-Value="producto.ValorInventario" />
                        <ValidationMessage For="@(() => producto.ValorInventario)" />
                    </div>

                </div>

                <hr>

                @* PRODUCTO DETALLE *@
                <div class="card">

                    <div class="card-header">
                        <h3>Detalle</h3>
                    </div>

                    <form>
                        <div class="input-group d-flex align-items-end">

                            @* Presentacion *@
                            <div class="form-group col">
                                <label>Presentación</label>
                                <InputText class="form-control" @bind-Value="Presentacion" placeholder="Presentación del producto"/>
                                <ValidationMessage For="@(() => Presentacion)" />
                            </div>

                            @* Cantidad *@
                            <div class="form-group col">
                                <label>Cantidad</label>
                                <InputNumber class="form-control" @bind-Value="Cantidad" />
                                <ValidationMessage For="@(() => Cantidad)" />
                            </div>

                            @* Precio *@
                            <div class="form-group col">
                                <label>Precio</label>
                                <InputNumber class="form-control" @bind-Value="Precio" />
                                <ValidationMessage For="@(() => Precio)" />
                            </div>

                            <button type="button" class="btn btn-success" @onclick="AgregarDetalle">
                                ➕ Agregar Detalle
                            </button>

                        </div>
                        <br>
                        <table class="table table-secondary">
                            <thead class="thead-dark">
                                <tr class="table-info">
                                    <th>Id</th>
                                    <th>Presentacion</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in producto.Detalle)
                                {
                                    <tr>
                                        <td>@item.ProductoId</td>
                                        <td>@item.Presentacion</td>
                                        <td>@item.Cantidad</td>
                                        <td>RD$ @item.Precio</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>

                </div>



            </div>

            <div class="card-footer">

                @* Botones *@
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
                    <button type="submit" class="btn btn-lg btn-success">Guardar</button>
                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">Eliminar</button>
                </div>

            </div>

        </div>
    </div>

</EditForm>


@code {
    public Productos producto { get; set; } = new Productos();
    public string Presentacion { get; set; }
    public int Cantidad { get; set; }
    public double Precio { get; set; }
    public void Buscar()
    {

    }
    public void Guardar()
    {

    }
    public void Nuevo()
    {

    }
    public void Eliminar()
    {

    }
    public void AgregarDetalle()
    {

    }
}
